{% extends 'shop/basic.html' %}
{% block title %}About Us{% endblock%}
{% block css %}
.card-deck{
  margin:0px;
  background-color:green;
}
{% endblock %}
{% block body %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: #b9c6d9;">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>My Awesome Cart is an Indian e-commerce company headquartered in Bangalore, Karnataka, India and registered in Singapore [8]. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products. The service competes primarily with Amazon's Indian subsidiary, and domestic rival, Snapdeal.[9][10] As of March 2017, My Awesome Cart held a 39.5% market share of India's e-commerce industry.[11] My Awesome Cart has a dominant position in the apparel segment bolstered by its acquisition of Myntra and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[12] My Awesome Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface..</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/media/shop/images/123.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sandip Kushwaha</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque adipisci corrupti perspiciatis asperiores beatae esse veniam quisquam quia ullam, architecto officia non? Perferendis, repellat.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/media/shop/images/123.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sandip Kushwaha</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/media/shop/images/123.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sandip Kushwaha</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, aspernatur soluta totam tenetur, eum repellendus labore fugiat minima porro sit ab, fugit explicabo odio? Sequi!</p>
      </div>
    </div>
      <div class="card">
      <img class="card-img-top" src="/media/shop/images/123.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sandip Kushwaha</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>

<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright :
    <a class="text-white" style="text-decoration:none" href="https://coderchacha.in/">Coderchacha.in</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock%}
{% block contant %} {% endblock %}