{% extends 'shop/basic.html' %}
{% block title %}Contact Us{% endblock%}
{% block css %}
body{
    background-color:#fff;
}
#cont{
    background-color: #d3d3d3;
    max-width: 450px;
    margin-top:25px;
    border-radius:0px;
}
#contbtn{
    margin-bottom: 15px;
    margin-left: 37%;
    width: 130px;
}

{% endblock %}
{% block body %}
<div id="cont" class="container">
    <h3 class="text-center" style="padding: 20px"> How can I help you</h3>
    <form action="/shop/contact/" method="post"> {% csrf_token %}
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your name">
        </div>
        <div class="form-group">
            <label for="name">Your Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your email">
        </div>
        <div class="form-group">
            <label for="name">Your Phone</label>
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group">
            <label for="desc">How May We Help You?</label>
            <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success" id="contbtn">Submit</button>
        
      </form>
</div>
<script>
    {% if thank %}
    alert('Thanks for sharing contact with us.');
    document.location = "/shop/contact/";
    {% endif %}
</script>
{% endblock%}